version: "3.0"
services:
  db:
    image: postgis/postgis
    container_name: db
    environment:
      - PGDATA=/var/lib/postgresql/data
      - POSTGRES_PASSWORD=root
      - POSTGRES_USER=admin
      - POSTGRES_DB=mydb
    ports:
      - "5436:5436"
    command: -p 5436

  db_test:
    image: postgis/postgis
    container_name: db_test
    environment:
      - PGDATA=/var/lib/postgresql/data
      - POSTGRES_PASSWORD=root
      - POSTGRES_USER=postgres
      - POSTGRES_DB=foo
    ports:
      - "5435:5435"
    command: -p 5435

  redis-db:
    container_name: redis
    image: redis:latest
    ports:
      - "6380:6380"

  prometheus:
    image: prom/prometheus
    ports:
      - "9091:9091"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    environment:
     - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"

  app:
    build: .
    environment:
      - PASSWORD=admin
      - DB_URL=jdbc:postgresql://db:5436/mydb
      - DB_TEST_URL=jdbc:postgresql://db_test:5435/foo
      - POSTGRES_HOST=db
      - REDIS_HOST=redis
    ports:
      - "8080:8080"
    depends_on:
      - db
      - db_test
      - redis-db
